set editing-mode vi

$if mode=vi
    set keymap vi-command
    
    set keymap vi-insert
    # ",,": vi-movement-mode
    ",s": vi-movement-mode
$endif

set show-all-if-ambiguous on
set completion-ignore-case on

# for bash tab cycle
TAB: menu-complete

set bell-style none

