set surround
set visualbell
set noerrorbells

inoremap ,s <esc>
nnoremap ,s <esc>:w<cr>
nnoremap ,q <esc>:q<cr>

"vim navigation enable
noremap n j
noremap N J

noremap e k
noremap E K

noremap i l
noremap I L

noremap j e
noremap J E

noremap k n
noremap K N

nnoremap ,ru :action Run<cr>
