set surround
set visualbell
set noerrorbells

inoremap ,s <esc>
nnoremap ,s <esc>:w<cr>
vnoremap ,s <esc>:w<cr>
nnoremap ,q <esc>:q<cr>

"colemak-vim
noremap n j
noremap N J

noremap e k
noremap E K

noremap i l
noremap I L

noremap j e
noremap J E

noremap k n
noremap K N

noremap l i
noremap L I

nnoremap ,x :action Run<cr>
nnoremap ,n :action Generate<cr>

map gh <Action>(ShowErrorDescription)
