snippet t "A simple HTML tag" b
<${1:div}>
	${2:Hello World!}
</${1/(\w+).*/$1/}>
endsnippet

snippet todo "This is a TODO reminder" b
<!-- TODO: `echo $USER` ${1:desc} `!v strftime("%c")` -->
endsnippet
